html {
  background-color: #ffffff;
}

body {
  font-family: "Poppins", sans-serif;
}

.bandeau{
  width: 100%;
  height: 100px;
  background-color: #ffffff;
}

/* Titre */
h1 {
  padding: 10px 20px;
  margin: 0%;
  font-family: 'Candara';
  float: left;
  font-size: 50px;
}

/* Ajouter un post */
button {
  background-color: #e6e6e6;
  font-size: 15px;
  border: 1px solid rgb(209, 209, 209);
  padding: 10px 30px;
  margin: 5px 200px 20px 20px;
  border-radius: 15px;
  outline-style: none;
}

/* Bouton */
input[type=submit]  {
  float: right;
  background-color: #cfcfcf;
  font-size: 15px;
  border: 1px solid rgb(209, 209, 209);
  padding: 10px 30px;
  margin: 5px 20px 40px 20px;
  border-radius: 15px;
}

/* POST */
.block {
  background-color: #f0f0f0;
  width: 90%;
  min-height: 90%;
  padding: 20px;
  margin: 20px;
  border: 1px solid rgb(151, 151, 151);
}

.title {
    font-size: 20px;
    font-weight: bold;
    margin: 0%;
    background-color: #f0f0f0;
}

.text {
  font-size: 16px;
  font-family: 'Arial';
}

.date {
  color: rgb(46, 46, 46);
  font-size: 15px;
  margin: 0%;
  border-top: 1px solid rgb(151, 151, 151);
  text-align: right;
  padding-top: 7px;
}

/* Liste */
#header{
background-color: rgb(173, 209, 173);
border: 1px solid rgb(54, 54, 54);
border-radius: 15px;
width: 300px;
height: 100px;
margin-left: 400px;
/*margin: 0px 400px 0px 400px;*/
float: left;
padding: 10px 20px;
}

#header2{
background-color: rgb(173, 209, 173);
border: 1px solid rgb(54, 54, 54);
border-radius: 15px;
width: 300px;
height: 100px;
margin-right: 320px;
/*margin: 0px 200px 10px 870px;*/
float: right;
padding: 10px 20px;
}

select {
margin-top: 10px;
outline-style: none;
}

/* Bouton Valider */
input[name=submit]  {
float: right;
background-color: #cfcfcf;
font-size: 15px;
border: 1px solid rgb(209, 209, 209);
padding: 10px 30px;
margin: 15px 10px 10px 20px;
border-radius: 15px;
}
